/* Search Results Page */

/* Search Results Container */
.search-results-container {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

.search-results-container h2 {
  margin-bottom: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-item {
  width: 95px;
  text-align: center;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out; /* Smooth animation */
}

/* Hover Effect: Scale Entire Movie Item (Image + Text) */
.movie-item:hover {
  transform: scale(1.1); /* Increase size by 10% */
}

/* Movie image styling */
.movie-item img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}

/* Movie title */
.movie-item h3 {
  margin-top: 10px;
  font-size: 13px;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

/* Enlarge text when hovering */
.movie-item:hover h3 {
  font-size: 15px; /* Increase font size */
}

.movie-item p {
  color: #555;
}
